<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.servlet.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productlistServlet</servlet-name>
    <servlet-class>com.servlet.productlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productlistServlet</servlet-name>
    <url-pattern>/productlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cartservlet</servlet-name>
    <servlet-class>com.servlet.cartservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartservlet</servlet-name>
    <url-pattern>/cartservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterNumServlet</servlet-name>
    <servlet-class>com.servlet.AlterNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterNumServlet</servlet-name>
    <url-pattern>/AlterNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCServlet</servlet-name>
    <servlet-class>com.servlet.DeleteCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCServlet</servlet-name>
    <url-pattern>/DeleteCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserinfoServlet</servlet-name>
    <servlet-class>com.servlet.UserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoServlet</servlet-name>
    <url-pattern>/UserinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeinfoServlet</servlet-name>
    <servlet-class>com.servlet.changeinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeinfoServlet</servlet-name>
    <url-pattern>/changeinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>infoServlet</servlet-name>
    <servlet-class>com.servlet.infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoServlet</servlet-name>
    <url-pattern>/infoServlet</url-pattern>
  </servlet-mapping>
</web-app>